<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC  
     "-//mybatis.org//DTD Config 3.0//EN"  
     "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
      <properties resource="dataSource.properties"></properties>
      <settings>
         <setting name="cacheEnabled" value="true"/>
      </settings>
      <typeAliases >
         <package name="com.wp.bean"/>
      </typeAliases>
      <environments default="dev">  
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driverClassName}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.userName}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
        </environments>

     <mappers>  
         <mapper resource="UserMapper.xml"/>  
     </mappers>  
</configuration>  